body {
    background-image: url("img/background.jpg");
    background-color: #cccccc;
}

#tableau {
    position: absolute;
    height: 200px;
    width: 400px;
    margin: -150px 0 0 -690px;
    top: 50%;
    left: 50%;
}

#replay {
    height: 80px;
    width: 100px;
    position: absolute;
    margin: 300px 0 0 -40px;
}

#score {
    color: whitesmoke;
    position: absolute;
    margin: 380px 0 0 465px;
}
